:root{
--orange:ffa500;

}

*{
    font-family: 'popping',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border: none;
    transition: all .2s linear;    
}

*::selection{
    background: var(--orange);
    color: rgb(237, 171, 47);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}
header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin: 0 .8rem;
}

header .navbar a:hover{
    color: orange;
}
header .icons i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover{
    color: orange;
}

header .search-bar-container{
    position: absolute;
    top: 100%; left: 0; right: 0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: .1rem solid #000;
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
}


header .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover{
    color: orange;
}

.body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(photo/China\(Main\ banner\).jpg);
	background-position: center;
	background-size: cover;
}
.heading{
	width: 30%;
	text-align: center;
	color: #fff;
}
.heading h1{
	font-size: 40px;
}
.heading p{
	font-size: 20px;
}
.heading a{
	text-decoration: none;
	color: #000;
	font-size: 25px;
	font-weight: bold;
	border-radius: 45px;
	padding: 14px 50px;
	background-color: #fff;
}
.heading a:hover{
	letter-spacing: 3px;
	transition: 0.6s;
}
.tours{
	width: 70%;
	display: flex;
	justify-content: space-around;
}
.places{
	display: inline;
	text-align: center;
	border-radius: 12px;
}
.places h2{
	color: white;
	font-size: 35px;
	letter-spacing: 3px;
	border-radius: 1px;
	padding: 15px 30px;
	
}
.places a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 18px;
	border-radius: 12px;
	padding: 8px 30px;
	background-color:white;
}
.places a:hover{
	background-color: white;
	letter-spacing: 3px;
	transition: 0.6s;
}

.section__header p{
    font-size: 20px;
    text-align: center;
    color: rgb(86, 85, 85);
}
.section__header h2{
    font-size: 40px;
    text-align: center;
    color: rgb(86, 85, 85);
    
}

.section__container_destination__container{
    background-color: rgb(248, 242, 232);
}
.destination__nav {
    display: flex;
    gap: 1rem;
  }
  .section__subtitle p{
    font-size: 40px;
  }
  .destination__nav span {
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    color: rgb(194, 2, 194);
    border: 1px solid rgb(252, 202, 252);
    border-radius: 100%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 0%;
    padding-right: 0px;
  }
  .destination__nav span:hover {
    color: rgb(251, 226, 251);
    background-color: rgb(252, 202, 252);
  }

  .destination__nav span i{
    margin-top: 50%;
  }
  .destination__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  
  .destination__card {
    overflow: hidden;
    position: relative;
    isolation: isolate;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  
  .destination__card img {
    border-radius: 1rem;
    align-items:center;
    justify-content: space-around;
  }
  .destination__card p{
    font-size: 28px;
    color: antiquewhite;
  }
  .destination__details {
    position: absolute;
    width: calc(100% - 2rem);
    padding: 1rem;
    bottom: -9rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--extra-light);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    z-index: 4;
    transition: 0.3s;
  }
  
  .destination__card:hover .destination__details {
    bottom: 1rem;
  }
  
  .destination__title {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .destination__subtitle {
    font-size: 1rem;
    font-weight: 400;
  }
  
  .trip {
    background-color:rgb(248, 242, 232);
  }
  .section__container_trip__container h2{
    font-size: 40px;
    text-align: center;
    color: rgb(86, 85, 85);
  }
  .section__container_trip__container p{
    font-size: 20px;
    text-align: center;
    color: rgb(86, 85, 85);
  }
  
  .trip__container :is(.section__title, .section__subtitle, .view__all) {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .trip__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 4rem 0;
  }
  
  .trip__card {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  
  .trip__details {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
    background-color: var(--extra-light);
    cursor: pointer;
  }
  
  .rating {
    color: goldenrod;
  }
  
  .booking__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .price span {
    font-weight: 400;
    font-size: 15px;
    color:black;
  }
  
  .book__now {
    padding: 0.5rem 1.5rem;
    color: var(--primary-color);
    outline: none;
    border: 2px solid black;
    border-radius: 5rem;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
  }
  .book__now:hover {
    color:rgb(218, 198, 169);
    background-color: black;
  }

  .gallary__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .image__gallary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .gallary__col {
    display: grid;
    place-content: center;
    gap: 1rem;
  }
  
  .gallary__col img {
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .gallary__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .gallary__content > div {
    max-width: 400px;
  }
  
  .gallary__content .section__subtitle {
    margin-bottom: 2rem;
  }

  .view__all .btn {
    padding: 0.5rem 1.5rem;
    color: var(--primary-color);
    outline: none;
    border: 2px solid black;
    border-radius: 5rem;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    margin-left: 48%;
    margin-bottom: 2%; 
  }
.view__all .btn:hover {
  color:rgb(218, 198, 169);
  background-color: black;
}

.services .heading{
  text-align: center;
  padding: 2.5rem 0;
  margin-left: 35%;
}
.services .heading span{
  font-size: 3.5rem;
  background: rgb(252, 165, 0,rgba(0, 0, 0, 0.2));
  color: rgb(85, 69, 69);
  border-radius: .5rem;
  padding: .2rem 1rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.615);
  display: inline block;
}
  .services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .services .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
  }
  .services .box-container .box i{
    padding: 1rem;
    font-size: 5rem;
    color: #333;
  } 
  .services .box-container .box h3{
    font-size: 2.5rem;
    color:black;
}
.services .box-container .box p{
    font-size: 1.5rem;
    color:black;
    padding: 1rem 0;
}
.services .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgb(252, 200, 111);
}

.gallery1 .heading{
  text-align: center;
  padding: 2.5rem 0;
  margin-left: 35%;
  padding-top: 5%;
}
.gallery1 .heading span{
  font-size: 3.5rem;
  background: rgb(252, 165, 0,rgba(0, 0, 0, 0.2));
  color: rgb(85, 69, 69);
  border-radius: .5rem;
  padding: .2rem 1rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.615);
  display: inline block;
}
.gallery1 .box-container1{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 10%;
  padding-top: 5%;
}
.gallery1 .box-container1 .box{
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1rem solid #fff;
  flex: 1 1 30rem;
  border-radius: .5rem;
  justify-content: space-between;
  align-content: center;
  height: 25rem;
  position: relative;
}
.gallery1 .box-container1 .box img{
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.gallery1 .box-container1 .box .content1{
  position: absolute;
  top: -100%; left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  padding-top: 5rem;
}

.gallery1 .box-container1 .box:hover .content1{
  top:0;
}


.gallery1 .box-container1 .box .content1 h3{
  font-size: 2.5rem;
  color: orange;
}

.gallery1 .box-container1 .box .content1 p{
  font-size: 1.5rem;
  color: #eee;
  padding: .5rem 0;
}

footer{
  background-color: #333;
}
.footercontainer{
  width: 100%;
  padding: 70px 30px 20px;
}
.socialicons{
  display: flex;
  justify-content: center;
}
.socialicons a{
  text-decoration: none;
  padding: 10px;
  background-color: #eee;
  margin: 10px;
  border-radius: 50%;
}
.socialicons a{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.socialicons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.socialicons a:hover i{
  color: white;
  transition: 0.5s;
}

.footernav{
  margin: 30px 0;
}
.footernav ul{
  display: flex;
  justify-content: center;
}
.footernav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footernav ul li a:hover{
  opacity: 1;
  color: orange;
}
.footerbottom{
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: orange;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
}